# python / virtualenv
venv/
airflow_env/
env/
__pycache__/
*.pyc

# data / big folders
data/
src/data/

# mac / editor / OS files
.DS_Store
.vscode/
.idea/

# logs
*.log
# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.env
.venv
venv/
env/
airflow_env/
.ipynb_checkpoints/
.DS_Store
.idea/
.vscode/
